/* Typography */
* {
  font-family: "Roboto Slab", "Times New Roman"; }

body, html {
  font-size: 16px !important; }

p {
  margin-bottom: 10px; }

/* General elements */
a {
  color: #754F44;
  transition: color 0.6s ease; }

a:hover {
  color: rgba(117, 79, 68, 0.5); }

.button {
  background: rgba(0, 0, 0, 0.3);
  transition: border-color 0.6s, background-color 1.2s; }

.button.is-outlined:hover, .button.is-outlined:active, .button.is-outlined:focus {
  border-color: #754F44;
  background-color: rgba(117, 79, 68, 0.7); }

.button.is-outlined:active {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.9); }

/* Layout */
.section {
  border-top-width: 0 !important; }
  .section .title {
    font-family: "Bubblegum Sans", "Times New Roman"; }

.section.is-divided {
  padding-top: 0; }
  .section.is-divided .container {
    padding-top: 40px;
    border-top: 1px solid #ccc !important; }

.hero {
  background: url("../bgimgs/herobg-final-2.png") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-color: #000 !important; }
  .hero .title {
    font-family: 'Bubblegum Sans';
    font-size: 2.5em; }
  .hero .subtitle {
    font-family: 'Walter Turncoat'; }
  .hero .button {
    color: #fff; }
  .hero #platforms {
    padding-top: 18px; }
    .hero #platforms a {
      color: #fff;
      margin-left: 12px;
      margin-right: 12px;
      transition: color 0.6s ease; }
    .hero #platforms a:hover {
      color: #754F44; }
    .hero #platforms .fa {
      font-size: 2.5em !important; }

/* Specific Elements */
#now-playing-stats {
  background: url("../bgimgs/bg2.png") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-color: #000 !important; }
  #now-playing-stats * {
    color: #fff; }

#game-boxes > .columns {
  margin-bottom: 20px; }
  #game-boxes > .columns > div {
    text-align: center;
    background-repeat: no-repeat !important;
    background-position: center !important;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 12px;
    border: 1px solid #000;
    cursor: pointer;
    background-blend-mode: lighten; }
    #game-boxes > .columns > div .title {
      color: #fff;
      font-size: 1.2em;
      margin-bottom: 30px; }
    #game-boxes > .columns > div .subtitle {
      color: #ccc;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      display: block;
      font-size: 0.8em;
      padding-top: 8px;
      padding-bottom: 8px; }
  #game-boxes > .columns .see-all-link {
    border: 1px solid #754F44;
    background: #fff !important;
    color: #754F44;
    transition: color 0.6s, background-color 1.2s; }
  #game-boxes > .columns .see-all-link:hover, #game-boxes > .columns .see-all-link:active, #game-boxes > .columns .see-all-link:focus {
    background: #754F44 !important;
    color: #fff !important; }
  #game-boxes > .columns > div:hover, #game-boxes > .columns div:active, #game-boxes > .columns div:focus {
    background-color: rgba(117, 79, 68, 0.45); }
  #game-boxes > .columns > div:active {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.9); }
  #game-boxes > .columns > div:last-child {
    margin-right: 0; }
#game-boxes .columns:nth-child(1) > div:nth-child(1) {
  background-image: url("../splashimgs/0.png"); }
#game-boxes .columns:nth-child(1) > div:nth-child(2) {
  background-image: url("../splashimgs/1.png"); }
#game-boxes .columns:nth-child(1) > div:nth-child(3) {
  background-image: url("../splashimgs/3.png"); }
#game-boxes .columns:nth-child(2) > div:nth-child(1) {
  background-image: url("../splashimgs/2.png"); }
#game-boxes .columns:nth-child(2) > div:nth-child(2) {
  background-image: url("../splashimgs/8.png"); }

/*# sourceMappingURL=dcss.css.map */
