$primary-color: #754F44;
$secondary-light-color: #ccc;

$header-font: 'Bubblegum Sans', 'Times New Roman';
$body-font: 'Roboto Slab', 'Times New Roman';
$base-font-size: 16px;



/* Typography */
* {
    font-family: $body-font;
}

body, html {
    font-size: $base-font-size !important;
}

p {
    margin-bottom: 10px;
}



/* General elements */
a {
    color: $primary-color;
    transition: color 0.6s ease;
}

a:hover {
    color: rgba($primary-color, 0.5);
}

.button {
    background: rgba(0, 0, 0, 0.3);
    transition: border-color 0.6s, background-color 1.2s;
}

.button.is-outlined:hover, .button.is-outlined:active, .button.is-outlined:focus {
    border-color: $primary-color;
    background-color: rgba($primary-color, 0.7);
}

.button.is-outlined:active {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.6);
}



/* Layout */
.section {
    border-top-width: 0 !important;

    .title {
        font-family: $header-font;
    }
}

.section.is-grey {
    padding-top: 0;

    .container {
        padding-top: 40px;
        border-top: 2px solid $secondary-light-color !important;
    }
}

.hero {
    background: url("../bgimgs/herobg-final-2.png") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-color: #000 !important;

    .title {
        font-family: 'Bubblegum Sans';
        font-size: 2.5em;
    }

    .subtitle {
        font-family: 'Walter Turncoat';
    }

    .button {
        color: #fff;
    }

    #platforms {
        padding-top: 18px;

        a {
            color: #fff;
            margin-left: 12px;
            margin-right: 12px;
            transition: color 0.6s ease;
        }

        a:hover {
            color: $primary-color;
        }

        .fa {
            font-size: 2.5em !important;
        }
    }
}



/* Specific Elements */
#now-playing-stats {
    background: url("../bgimgs/bg2.png") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-color: #000 !important;

    * {
        color: #fff;
    }
}

#game-boxes {
    > .columns {
        margin-bottom: 20px;

        > div {
            text-align: center;
            background-repeat: no-repeat !important;
            background-position: center !important;
            background-color: #000 !important;
            padding-top: 40px;
            padding-bottom: 40px;
            padding-left: 20px;
            padding-right: 20px;
            margin-right: 12px;
            border: 1px solid #000;

            .title {
                color: #fff;
                font-size: 1.2em;
                margin-bottom: 30px;
            }

            .subtitle {
                color: $secondary-light-color;
                border-top: 2px solid #fff;
                border-bottom: 2px solid #fff;
                display: block;
                font-size: 0.8em;
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }

        .see-all-link {
            border: 1px solid $primary-color;
            background: #fff !important;
            color: $primary-color !important;
        }

        > div:last-child {
            margin-right: 0;
        }
    }

    .columns:nth-child(1) {
        > div:nth-child(1) {
            background-image: url("../splashimgs/0.png") !important;
        }

        > div:nth-child(2) {
            background-image: url("../splashimgs/1.png") !important;
        }

        > div:nth-child(3) {
            background-image: url("../splashimgs/3.png") !important;
        }
    }

    .columns:nth-child(2) {
        > div:nth-child(1) {
            background-image: url("../splashimgs/2.png") !important;
        }

        > div:nth-child(2) {
            background-image: url("../splashimgs/8.png") !important;
        }
    }
}
