$primary-color: #754F44;
$light-color: #fff;
$dark-color: rgb(34, 35, 36);
$secondary-light-color: #ccc;

$header-font: 'Bubblegum Sans', 'Times New Roman';
$body-font: 'Roboto Slab', 'Times New Roman';
$base-font-size: 16px;

$pressed-shadow: inset 0 0 5px rgba(0, 0, 0, 0.9);



/* Typography */
* {
    font-family: $body-font;
}

body, html {
    font-size: $base-font-size !important;
}

p {
    margin-bottom: 10px;
}



/* General elements */
a {
    color: $primary-color;
    transition: color 0.6s ease;
}

a:hover {
    color: rgba($primary-color, 0.7);
}

.button {
    background: rgba(0, 0, 0, 0.3);
    transition: border-color 0.6s, background-color 1.2s;
}

.button.is-outlined:hover, .button.is-outlined:active, .button.is-outlined:focus {
    border-color: $primary-color;
    background-color: rgba($primary-color, 0.7);
}

.button.is-outlined:active {
    box-shadow: $pressed-shadow;
}

ul.block-list {
    border: 1px solid $secondary-light-color;
    display: block;
    margin-bottom: 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1), 0 3px 4px rgba(0, 0, 0, 0.1);

    li {
        display: block;
        padding: 10px 15px;
        transition: color 0.4s, background-color 0.8s;
        cursor: pointer;
    }

    li:hover {
        background: $secondary-light-color;
        color: $dark-color;
    }

    li:not(:last-child) {
        border-bottom: 1px solid $secondary-light-color;
    }
}


/* Layout */
.section {
    border-top-width: 0 !important;
    padding-top: 40px;
    padding-bottom: 40px;

    .title {
        font-family: $header-font;
    }
}

#jumbotron {
    box-shadow: inset 0 -7px 9px -7px #999;
}

.section.is-divided {
    padding-top: 0;

    > .container {
        padding-top: 20px;
    }
}

.hero {
    background: url("../bgimgs/herobg-final-2.png") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-color: #000 !important;

    .title {
        font-family: 'Bubblegum Sans';
        font-size: 2.5em;
    }

    .subtitle {
        font-family: 'Walter Turncoat';
    }

    .button {
        color: #fff;
    }

    #platforms {
        padding-top: 18px;

        a {
            color: #fff;
            margin-left: 12px;
            margin-right: 12px;
            transition: color 0.6s ease;
        }

        a:hover {
            color: $primary-color;
        }

        .fa {
            font-size: 2.5em !important;
        }
    }
}



/* Specific Elements */
#accolades {
    text-align: center;
    box-shadow: inset 0 7px 9px -7px #999, inset 0 -7px 9px -7px #999;
    background-color: #eee;

    blockquote {
        font-size: 1.2em;
        margin-bottom: 4px;
        color: #444;
    }
}

#community {
    background: url("../bgimgs/cleaving_minotaur.png") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;;
    background-attachment: fixed !important;
    background-color: #000 !important;
    text-align: center;

    > .container > .title {
        color: #fff;
        padding-bottom: 15px;
    }

    a {
        text-align: center;
        color: #fff;

        .fa {
            font-size: 2em;
            margin-bottom: 8px;
        }
    }

    a:hover, a:active, a:focus {
        color: $primary-color;
    }
}

#live-games {
    > .container > .title {
        margin-bottom: 30px;
    }
}

#game-boxes {
    margin-top: 20px;

    > .columns:not(:last-child) {
        margin-bottom: 20px;
    }

    > .columns:last-child {
        margin-bottom: 0px;
    }

    > .columns {
        > div {
            text-align: center;
            background-repeat: no-repeat !important;
            background-position: center !important;
            padding-top: 40px;
            padding-bottom: 40px;
            padding-left: 20px;
            padding-right: 20px;
            margin-right: 10px;
            border: 1px solid #000;
            cursor: pointer;
            background-blend-mode: lighten;
            transition: background-color 0.4s ease;

            .title {
                color: #fff;
                font-size: 1.2em;
                margin-bottom: 30px;
            }

            .subtitle {
                color: $secondary-light-color;
                border-top: 1px solid #fff;
                border-bottom: 1px solid #fff;
                display: block;
                font-size: 0.8em;
                padding-top: 8px;
                padding-bottom: 8px;
            }
        }

        .see-all-link {
            border: 1px solid $primary-color;
            background: #fff !important;
            color: $primary-color;
            transition: color 0.4s, background-color 0.8s;
        }

        .see-all-link:hover, .see-all-link:active, .see-all-link:focus {
            background: $primary-color !important;
            color: #fff !important;
        }

        > div:hover, div:active, div:focus {
            background-color: rgba(#fff, 0.2);
        }

        > div:active {
            box-shadow: $pressed-shadow;
        }

        > div:first-child {
            margin-left: 7px;
        }

        > div:last-child {
            margin-right: 7px;
        }
    }

    .columns:nth-child(1) {
        > div:nth-child(1) {
            background-image: url("../splashimgs/0.png");
        }

        > div:nth-child(2) {
            background-image: url("../splashimgs/1.png");
        }

        > div:nth-child(3) {
            background-image: url("../splashimgs/3.png");
        }
    }

    .columns:nth-child(2) {
        > div:nth-child(1) {
            background-image: url("../splashimgs/2.png");
        }

        > div:nth-child(2) {
            background-image: url("../splashimgs/8.png");
        }
    }
}
